{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if validlink %}
    <div class="content-section-forms">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group col-md-8">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
    {% else %}
    <div class="alert alert-warning">
        Your link is expired please try again!
    </div>
    <a href="{% url 'password_reset' %}">Request Again</a>
    {% endif %}
{% endblock content %}
